.register-page {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

.register-container {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    overflow: hidden;
    width: 800px;
}

.image-container {
    flex: 1;
}

.register-image {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.register-form-container {
    flex: 1;
    padding: 40px;
    border-radius: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form-email,
.register-form-password,
.register-form-username {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #444444;
    border-color: #FFC107;
    border-radius: 10px;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 18px;
}

.register-form-button {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    background-color: #FF4645;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
}

.feedback {
    margin-top: 10px;
    color: #FFA500;
    text-align: center;
}

.link-container{
    margin-top: 20px;
    font-size: 18px;
    color: #FFFFFF;
}